<header id="main-header">
    <nav>
        <button id="main-header__sidebar-toggle">
            <svg id="toggle-icon-menu">
                <use xlink:href="#icon-menu"></use>
            </svg>
            <svg id="toggle-icon-close">
                <use xlink:href="#icon-close"></use>
            </svg>
        </button>

        <ul>
            <li id="main-header__logo">
                <a href="/">
                    <svg width="444" height="280" viewBox="0 0 444 280" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_19_64" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="444" height="280">
<path d="M443.651 0H0V279.274H443.651V0Z" fill="white"/>
</mask>
<g mask="url(#mask0_19_64)">
<path d="M115.681 134.981C119.277 134.981 122.191 132.067 122.191 128.471C122.191 124.876 119.277 121.961 115.681 121.961C112.086 121.961 109.171 124.876 109.171 128.471C109.171 132.067 112.086 134.981 115.681 134.981Z" fill="url(#paint0_linear_19_64)"/>
<path d="M120.658 179.53C123.716 176.472 123.716 171.513 120.658 168.455C117.6 165.397 112.642 165.397 109.584 168.455C106.526 171.513 106.526 176.472 109.584 179.53C112.642 182.588 117.6 182.588 120.658 179.53Z" fill="url(#paint1_linear_19_64)"/>
<path d="M312.918 92.7746C285.774 71.6121 252.131 60.5162 217.723 61.3773C183.315 62.2385 150.27 75.0035 124.219 97.4973C98.1672 119.991 80.7211 150.822 74.8529 184.737C68.9847 218.652 75.0575 253.552 92.0366 283.492C109.016 313.431 135.851 336.557 167.969 348.929C200.087 361.301 235.502 362.154 268.179 351.342C300.855 340.53 328.772 318.722 347.172 289.635C365.573 260.548 373.318 225.98 369.089 191.822C366.713 172.426 360.528 153.69 350.888 136.692C341.248 119.695 328.344 104.769 312.918 92.7746ZM348.525 309.188C325.601 338.586 293.193 359.127 256.823 367.309C220.453 375.492 182.37 370.811 149.065 354.064C115.759 337.317 89.2901 309.539 74.1684 275.465C59.0467 241.39 56.2076 203.126 66.1349 167.193C76.0621 131.26 98.1414 99.8799 128.611 78.4006C159.08 56.9213 196.055 46.6712 233.234 49.3968C270.414 52.1224 305.498 67.655 332.51 93.3481C359.521 119.041 376.788 153.305 381.369 190.302C383.997 211.305 382.448 232.62 376.811 253.023C371.174 273.425 361.562 292.513 348.525 309.188Z" fill="url(#paint2_linear_19_64)"/>
<mask id="mask1_19_64" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="60" y="48" width="323" height="324">
<path d="M312.918 92.7746C285.774 71.6121 252.131 60.5162 217.723 61.3773C183.315 62.2385 150.27 75.0035 124.219 97.4973C98.1672 119.991 80.7211 150.822 74.8529 184.737C68.9847 218.652 75.0575 253.552 92.0366 283.492C109.016 313.431 135.851 336.557 167.969 348.929C200.087 361.301 235.502 362.154 268.179 351.342C300.855 340.53 328.772 318.722 347.172 289.635C365.573 260.548 373.318 225.98 369.089 191.822C366.713 172.426 360.528 153.69 350.888 136.692C341.248 119.695 328.344 104.769 312.918 92.7746ZM348.525 309.188C325.601 338.586 293.193 359.127 256.823 367.309C220.453 375.492 182.37 370.811 149.065 354.064C115.759 337.317 89.2901 309.539 74.1684 275.465C59.0467 241.39 56.2076 203.126 66.1349 167.193C76.0621 131.26 98.1414 99.8799 128.611 78.4006C159.08 56.9213 196.055 46.6712 233.234 49.3968C270.414 52.1224 305.498 67.655 332.51 93.3481C359.521 119.041 376.788 153.305 381.369 190.302C383.997 211.305 382.448 232.62 376.811 253.023C371.174 273.425 361.562 292.513 348.525 309.188Z" fill="white"/>
</mask>
<g mask="url(#mask1_19_64)">
<path d="M78.9751 21.4343L32.7761 352.567L363.912 398.767L410.111 67.6337L78.9751 21.4343Z" fill="url(#paint3_linear_19_64)"/>
</g>
<path d="M155.14 150.679C155.308 139.521 155.903 128.738 156.885 118.427C143.222 121.639 130.224 125.355 118.046 129.488C117.007 142.305 116.57 155.819 116.791 169.856C126.426 166.429 136.601 163.261 147.236 160.402C147.262 158.127 148.058 155.928 149.493 154.162C150.928 152.397 152.919 151.169 155.14 150.679ZM120.509 222.598C127.404 278.283 142.719 327.522 161.905 362.116C180.737 396.067 203.124 415.74 224.596 413.084C230.686 412.255 236.448 409.828 241.297 406.051C226.935 397.467 213.096 381.175 200.877 359.141C181.394 324.016 165.857 274.142 158.888 217.847C156.877 201.603 155.691 185.708 155.267 170.375C153.811 170.072 152.441 169.452 151.253 168.559C150.065 167.666 149.088 166.522 148.393 165.208C137.36 168.176 126.832 171.478 116.902 175.057C117.312 190.395 118.494 206.317 120.509 222.598ZM165.15 70.578C171.631 46.2317 181.079 27.0534 192.91 15.2266C187.285 12.747 181.105 11.8004 174.996 12.4829C153.528 15.1425 136.616 39.6787 126.63 77.1963C122.656 92.5909 119.944 108.284 118.521 124.119C130.746 120.045 143.767 116.385 157.418 113.226C158.931 98.8377 161.516 84.582 165.15 70.578ZM166.177 155.747C181.33 152.362 197.24 149.589 213.7 147.551C269.994 140.582 322.151 143.486 360.967 153.813C385.314 160.29 404.494 169.74 416.318 181.573C418.796 175.948 419.744 169.768 419.064 163.66C416.403 142.187 391.867 125.275 354.346 115.292C316.117 105.12 264.632 102.278 208.947 109.17C192.663 111.187 176.933 113.922 161.959 117.264C160.892 127.961 160.253 139.186 160.081 150.832C161.373 151.205 162.577 151.832 163.623 152.676C164.67 153.52 165.538 154.564 166.177 155.747ZM69.4288 150.568C35.4738 169.397 15.8049 191.783 18.4615 213.255C19.2899 219.346 21.7162 225.11 25.4938 229.959C34.0771 215.6 50.3697 201.759 72.4044 189.537C85.0983 182.598 98.2924 176.617 111.877 171.642C111.611 157.629 111.985 144.11 112.955 131.259C97.9453 136.501 83.3883 142.958 69.4288 150.568ZM285.634 66.9299C284.112 63.8892 282.56 60.9416 280.978 58.0874C262.145 24.1365 239.763 4.4656 218.29 7.12221C212.2 7.95117 206.437 10.3766 201.586 14.1523C215.378 22.3961 228.685 37.7505 240.545 58.4666C238.529 58.2402 236.504 58.0323 234.468 57.8427C223.031 38.6137 210.427 24.6047 197.6 17.5053C185.871 28.4691 176.426 47.3987 169.923 71.8379C166.488 85.0545 164.013 98.5023 162.518 112.076C177.159 108.861 192.493 106.221 208.339 104.26C264.633 97.2884 316.79 100.192 355.606 110.52C395.131 121.037 421.044 139.378 423.974 163.052C424.822 170.778 423.415 178.585 419.924 185.53C425.003 191.414 428.272 198.641 429.335 206.341C432.265 230.017 411.607 254.122 375.843 273.96C369.92 277.244 363.593 280.408 356.863 283.451C358.2 281.038 359.468 278.632 360.666 276.234C365.123 274.092 369.386 271.893 373.453 269.638C407.408 250.808 427.082 228.424 424.421 206.951C423.594 200.86 421.169 195.098 417.393 190.249C409.542 203.383 395.237 216.08 375.996 227.504C376.24 225.461 376.426 223.426 376.555 221.397C394.317 210.427 407.298 198.446 414.038 186.258C403.076 174.532 384.147 165.087 359.707 158.586C321.477 148.414 269.988 145.569 214.308 152.462C198.043 154.476 182.331 157.208 167.371 160.545C167.364 162.703 166.664 164.802 165.374 166.532C164.084 168.263 162.271 169.533 160.205 170.155C160.63 185.35 161.807 201.119 163.803 217.238C170.697 272.923 186.013 322.161 205.198 356.755C217.466 378.874 231.243 394.925 245.287 402.701C255.56 393.099 264.081 377.381 270.406 357.203C272.346 356.564 274.269 355.888 276.177 355.175C269.783 376.892 260.894 394.067 249.973 404.977C255.597 407.457 261.777 408.404 267.886 407.723C289.359 405.062 306.271 380.525 316.253 343.005C317.356 338.864 318.373 334.555 319.299 330.11C321.348 328.426 323.368 326.679 325.358 324.869C324.107 331.644 322.659 338.123 321.026 344.265C310.508 383.79 292.17 409.704 268.494 412.633C260.767 413.48 252.96 412.074 246.015 408.583C240.132 413.663 232.905 416.932 225.204 417.994C201.528 420.928 177.423 400.265 157.587 364.502C138.106 329.373 122.568 279.501 115.599 223.207C113.638 207.362 112.457 191.847 112.003 176.864C99.205 181.625 86.7683 187.305 74.7897 193.859C52.6712 206.127 36.6163 219.9 28.8439 233.95C38.3713 244.135 53.9053 252.599 73.839 258.907C74.509 260.851 75.2356 262.794 76.0186 264.736C54.4698 258.346 37.4224 249.495 26.5682 238.634C24.0881 244.258 23.1408 250.438 23.8224 256.547C26.4788 278.021 51.0194 294.934 88.5361 304.911C93.0693 306.119 97.7805 307.221 102.67 308.217C104.318 310.22 106.027 312.222 107.795 314.223C100.614 312.929 93.7568 311.411 87.2756 309.688C47.755 299.171 21.8419 280.829 18.912 257.157C18.0654 249.43 19.4703 241.624 22.9575 234.678C17.8805 228.793 14.6137 221.565 13.5509 213.865C10.6212 190.192 31.2752 166.084 67.0433 146.246C81.8944 138.16 97.4021 131.343 113.401 125.868C114.809 109.016 117.639 92.3126 121.861 75.9371C132.374 36.4138 150.717 10.5008 174.388 7.57074C182.115 6.7235 189.922 8.13006 196.867 11.6207C202.753 6.54187 209.982 3.27362 217.682 2.20995C241.354 -0.720136 265.459 19.9379 285.3 55.702C287.6 59.8475 289.84 64.194 292.021 68.7417C289.906 68.1154 287.777 67.5114 285.634 66.9299Z" fill="url(#paint4_linear_19_64)"/>
<mask id="mask2_19_64" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="13" y="1" width="417" height="418">
<path d="M155.14 150.679C155.308 139.521 155.903 128.738 156.885 118.427C143.222 121.639 130.224 125.355 118.046 129.488C117.007 142.305 116.57 155.819 116.791 169.856C126.426 166.429 136.601 163.261 147.236 160.402C147.262 158.127 148.058 155.928 149.493 154.162C150.928 152.397 152.919 151.169 155.14 150.679ZM120.509 222.598C127.404 278.283 142.719 327.522 161.905 362.116C180.737 396.067 203.124 415.74 224.596 413.084C230.686 412.255 236.448 409.828 241.297 406.051C226.935 397.467 213.096 381.175 200.877 359.141C181.394 324.016 165.857 274.142 158.888 217.847C156.877 201.603 155.691 185.708 155.267 170.375C153.811 170.072 152.441 169.452 151.253 168.559C150.065 167.666 149.088 166.522 148.393 165.208C137.36 168.176 126.832 171.478 116.902 175.057C117.312 190.395 118.494 206.317 120.509 222.598ZM165.15 70.578C171.631 46.2317 181.079 27.0534 192.91 15.2266C187.285 12.747 181.105 11.8004 174.996 12.4829C153.528 15.1425 136.616 39.6787 126.63 77.1963C122.656 92.5909 119.944 108.284 118.521 124.119C130.746 120.045 143.767 116.385 157.418 113.226C158.931 98.8377 161.516 84.582 165.15 70.578ZM166.177 155.747C181.33 152.362 197.24 149.589 213.7 147.551C269.994 140.582 322.151 143.486 360.967 153.813C385.314 160.29 404.494 169.74 416.318 181.573C418.796 175.948 419.744 169.768 419.064 163.66C416.403 142.187 391.867 125.275 354.346 115.292C316.117 105.12 264.632 102.278 208.947 109.17C192.663 111.187 176.933 113.922 161.959 117.264C160.892 127.961 160.253 139.186 160.081 150.832C161.373 151.205 162.577 151.832 163.623 152.676C164.67 153.52 165.538 154.564 166.177 155.747ZM69.4288 150.568C35.4738 169.397 15.8049 191.783 18.4615 213.255C19.2899 219.346 21.7162 225.11 25.4938 229.959C34.0771 215.6 50.3697 201.759 72.4044 189.537C85.0983 182.598 98.2924 176.617 111.877 171.642C111.611 157.629 111.985 144.11 112.955 131.259C97.9453 136.501 83.3883 142.958 69.4288 150.568ZM285.634 66.9299C284.112 63.8892 282.56 60.9416 280.978 58.0874C262.145 24.1365 239.763 4.4656 218.29 7.12221C212.2 7.95117 206.437 10.3766 201.586 14.1523C215.378 22.3961 228.685 37.7505 240.545 58.4666C238.529 58.2402 236.504 58.0323 234.468 57.8427C223.031 38.6137 210.427 24.6047 197.6 17.5053C185.871 28.4691 176.426 47.3987 169.923 71.8379C166.488 85.0545 164.013 98.5023 162.518 112.076C177.159 108.861 192.493 106.221 208.339 104.26C264.633 97.2884 316.79 100.192 355.606 110.52C395.131 121.037 421.044 139.378 423.974 163.052C424.822 170.778 423.415 178.585 419.924 185.53C425.003 191.414 428.272 198.641 429.335 206.341C432.265 230.017 411.607 254.122 375.843 273.96C369.92 277.244 363.593 280.408 356.863 283.451C358.2 281.038 359.468 278.632 360.666 276.234C365.123 274.092 369.386 271.893 373.453 269.638C407.408 250.808 427.082 228.424 424.421 206.951C423.594 200.86 421.169 195.098 417.393 190.249C409.542 203.383 395.237 216.08 375.996 227.504C376.24 225.461 376.426 223.426 376.555 221.397C394.317 210.427 407.298 198.446 414.038 186.258C403.076 174.532 384.147 165.087 359.707 158.586C321.477 148.414 269.988 145.569 214.308 152.462C198.043 154.476 182.331 157.208 167.371 160.545C167.364 162.703 166.664 164.802 165.374 166.532C164.084 168.263 162.271 169.533 160.205 170.155C160.63 185.35 161.807 201.119 163.803 217.238C170.697 272.923 186.013 322.161 205.198 356.755C217.466 378.874 231.243 394.925 245.287 402.701C255.56 393.099 264.081 377.381 270.406 357.203C272.346 356.564 274.269 355.888 276.177 355.175C269.783 376.892 260.894 394.067 249.973 404.977C255.597 407.457 261.777 408.404 267.886 407.723C289.359 405.062 306.271 380.525 316.253 343.005C317.356 338.864 318.373 334.555 319.299 330.11C321.348 328.426 323.368 326.679 325.358 324.869C324.107 331.644 322.659 338.123 321.026 344.265C310.508 383.79 292.17 409.704 268.494 412.633C260.767 413.48 252.96 412.074 246.015 408.583C240.132 413.663 232.905 416.932 225.204 417.994C201.528 420.928 177.423 400.265 157.587 364.502C138.106 329.373 122.568 279.501 115.599 223.207C113.638 207.362 112.457 191.847 112.003 176.864C99.205 181.625 86.7683 187.305 74.7897 193.859C52.6712 206.127 36.6163 219.9 28.8439 233.95C38.3713 244.135 53.9053 252.599 73.839 258.907C74.509 260.851 75.2356 262.794 76.0186 264.736C54.4698 258.346 37.4224 249.495 26.5682 238.634C24.0881 244.258 23.1408 250.438 23.8224 256.547C26.4788 278.021 51.0194 294.934 88.5361 304.911C93.0693 306.119 97.7805 307.221 102.67 308.217C104.318 310.22 106.027 312.222 107.795 314.223C100.614 312.929 93.7568 311.411 87.2756 309.688C47.755 299.171 21.8419 280.829 18.912 257.157C18.0654 249.43 19.4703 241.624 22.9575 234.678C17.8805 228.793 14.6137 221.565 13.5509 213.865C10.6212 190.192 31.2752 166.084 67.0433 146.246C81.8944 138.16 97.4021 131.343 113.401 125.868C114.809 109.016 117.639 92.3126 121.861 75.9371C132.374 36.4138 150.717 10.5008 174.388 7.57074C182.115 6.7235 189.922 8.13006 196.867 11.6207C202.753 6.54187 209.982 3.27362 217.682 2.20995C241.354 -0.720136 265.459 19.9379 285.3 55.702C287.6 59.8475 289.84 64.194 292.021 68.7417C289.906 68.1154 287.777 67.5114 285.634 66.9299Z" fill="white"/>
</mask>
<g mask="url(#mask2_19_64)">
<path d="M41.153 -28.651L-17.3103 390.397L401.733 448.86L460.197 29.8117L41.153 -28.651Z" fill="url(#paint5_linear_19_64)"/>
</g>
</g>
<defs>
<linearGradient id="paint0_linear_19_64" x1="362.882" y1="54.3945" x2="26.6261" y2="155.158" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
<linearGradient id="paint1_linear_19_64" x1="375.352" y1="96.0107" x2="39.0969" y2="196.774" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
<linearGradient id="paint2_linear_19_64" x1="394.042" y1="158.381" x2="57.7869" y2="259.144" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
<linearGradient id="paint3_linear_19_64" x1="394.044" y1="158.379" x2="57.7877" y2="259.141" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
<linearGradient id="paint4_linear_19_64" x1="394.042" y1="158.38" x2="57.7866" y2="259.143" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
<linearGradient id="paint5_linear_19_64" x1="394.043" y1="158.382" x2="57.7874" y2="259.146" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
</defs>
</svg>



                </a>
            </li>
            <li>
                <a href="/">
                    <svg>
                        <use xlink:href="#icon-house"></use>
                    </svg>
                    <span>Accueil</span>
                </a>
            </li>
        </ul>

        <div class="profile-dropdown">
            <ul>
                <li>
                    <a href="{{ profilPath }}">
                        <svg>
                            <use xlink:href="#icon-user"></use>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="/deconnexion">
                        <svg>
                            <use xlink:href="#signout"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>