<header id="main-header">
    <nav>
        <button id="main-header__sidebar-toggle">
            <svg id="toggle-icon-menu">
                <use xlink:href="#icon-menu"></use>
            </svg>
            <svg id="toggle-icon-close">
                <use xlink:href="#icon-close"></use>
            </svg>
        </button>

        <ul>
            <li id="main-header__logo">
                <a href="/">
                    <svg width="657" height="407" viewBox="0 0 657 407" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_15_64" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="149" y="22" width="359" height="227">
<path d="M507.527 22.6658H149.473V248.34H507.527V22.6658Z" fill="white"/>
</mask>
<g mask="url(#mask0_15_64)">
<path d="M242.835 131.741C245.737 131.741 248.089 129.386 248.089 126.48C248.089 123.575 245.737 121.22 242.835 121.22C239.933 121.22 237.581 123.575 237.581 126.48C237.581 129.386 239.933 131.741 242.835 131.741Z" fill="url(#paint0_linear_15_64)"/>
<path d="M246.852 167.739C249.32 165.268 249.32 161.262 246.852 158.79C244.383 156.319 240.382 156.319 237.914 158.79C235.446 161.262 235.446 165.268 237.914 167.739C240.382 170.211 244.383 170.211 246.852 167.739Z" fill="url(#paint1_linear_15_64)"/>
<path d="M402.017 97.6347C380.11 80.5338 352.959 71.5674 325.189 72.2633C297.42 72.9592 270.75 83.2742 249.725 101.451C228.7 119.628 214.62 144.541 209.884 171.947C205.148 199.353 210.049 227.555 223.752 251.748C237.456 275.942 259.113 294.629 285.034 304.627C310.956 314.624 339.538 315.313 365.91 306.576C392.282 297.84 414.812 280.218 429.662 256.713C444.513 233.208 450.764 205.275 447.351 177.672C445.433 161.999 440.441 146.859 432.661 133.124C424.881 119.388 414.467 107.327 402.017 97.6347ZM430.754 272.513C412.253 296.269 386.098 312.867 356.745 319.479C327.392 326.092 296.657 322.309 269.777 308.776C242.898 295.243 221.536 272.797 209.332 245.262C197.127 217.727 194.836 186.807 202.848 157.77C210.86 128.733 228.679 103.376 253.27 86.0194C277.861 68.6625 307.701 60.3796 337.708 62.5821C367.714 64.7846 396.029 77.3361 417.829 98.0981C439.629 118.86 453.564 146.548 457.261 176.444C459.382 193.416 458.132 210.641 453.583 227.127C449.034 243.614 441.275 259.038 430.754 272.513Z" fill="url(#paint2_linear_15_64)"/>
<mask id="mask1_15_64" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="198" y="62" width="261" height="261">
<path d="M402.017 97.6347C380.11 80.5338 352.959 71.5674 325.189 72.2633C297.42 72.9592 270.75 83.2742 249.725 101.451C228.7 119.628 214.62 144.541 209.884 171.947C205.148 199.353 210.049 227.555 223.752 251.748C237.456 275.942 259.113 294.629 285.034 304.627C310.956 314.624 339.538 315.313 365.91 306.576C392.282 297.84 414.812 280.218 429.662 256.713C444.513 233.208 450.764 205.275 447.351 177.672C445.433 161.999 440.441 146.859 432.661 133.124C424.881 119.388 414.467 107.327 402.017 97.6347ZM430.754 272.513C412.253 296.269 386.098 312.867 356.745 319.479C327.392 326.092 296.657 322.309 269.777 308.776C242.898 295.243 221.536 272.797 209.332 245.262C197.127 217.727 194.836 186.807 202.848 157.77C210.86 128.733 228.679 103.376 253.27 86.0194C277.861 68.6625 307.701 60.3796 337.708 62.5821C367.714 64.7846 396.029 77.3361 417.829 98.0981C439.629 118.86 453.564 146.548 457.261 176.444C459.382 193.416 458.132 210.641 453.583 227.127C449.034 243.614 441.275 259.038 430.754 272.513Z" fill="white"/>
</mask>
<g mask="url(#mask1_15_64)">
<path d="M213.211 39.9863L175.925 307.567L443.172 344.899L480.458 77.3189L213.211 39.9863Z" fill="url(#paint3_linear_15_64)"/>
</g>
<path d="M274.681 144.426C274.816 135.41 275.296 126.696 276.089 118.364C265.062 120.959 254.572 123.962 244.743 127.302C243.905 137.659 243.552 148.58 243.731 159.922C251.507 157.153 259.719 154.593 268.301 152.282C268.323 150.444 268.965 148.667 270.123 147.24C271.281 145.814 272.888 144.822 274.681 144.426ZM246.731 202.542C252.296 247.54 264.656 287.328 280.14 315.283C295.339 342.718 313.407 358.615 330.736 356.469C335.651 355.798 340.301 353.838 344.214 350.786C332.624 343.849 321.455 330.684 311.593 312.878C295.87 284.495 283.33 244.193 277.705 198.703C276.083 185.577 275.125 172.732 274.783 160.342C273.608 160.097 272.502 159.596 271.543 158.874C270.584 158.152 269.796 157.228 269.235 156.166C260.331 158.565 251.835 161.233 243.82 164.125C244.151 176.519 245.105 189.386 246.731 202.542ZM282.76 79.6981C287.99 60.0245 295.615 44.527 305.163 34.97C300.624 32.9664 295.636 32.2014 290.706 32.7529C273.38 34.9021 259.731 54.7292 251.671 85.0462C248.464 97.4862 246.275 110.167 245.127 122.963C254.993 119.671 265.502 116.713 276.519 114.161C277.74 102.534 279.826 91.0144 282.76 79.6981ZM283.588 148.521C295.818 145.785 308.658 143.545 321.942 141.898C367.375 136.267 409.469 138.613 440.795 146.958C460.445 152.192 475.925 159.828 485.468 169.39C487.467 164.845 488.232 159.851 487.684 154.915C485.536 137.563 465.734 123.897 435.452 115.831C404.599 107.61 363.047 105.314 318.106 110.883C304.964 112.513 292.269 114.724 280.184 117.424C279.323 126.068 278.807 135.138 278.669 144.549C279.711 144.851 280.683 145.358 281.527 146.04C282.372 146.722 283.072 147.565 283.588 148.521ZM205.506 144.336C178.103 159.552 162.229 177.641 164.373 194.992C165.041 199.914 166.999 204.571 170.048 208.49C176.975 196.887 190.125 185.703 207.908 175.826C218.153 170.219 228.801 165.385 239.765 161.365C239.55 150.042 239.852 139.118 240.635 128.733C228.521 132.969 216.773 138.187 205.506 144.336ZM379.997 76.7502C378.769 74.293 377.516 71.9112 376.239 69.6048C361.04 42.1699 342.976 26.2743 325.647 28.4211C320.731 29.0909 316.08 31.0509 312.165 34.102C323.296 40.7635 334.036 53.171 343.608 69.9112C341.981 69.7283 340.346 69.5602 338.703 69.4071C329.473 53.8686 319.301 42.5482 308.948 36.8114C299.483 45.671 291.86 60.9675 286.612 80.7162C283.839 91.3962 281.842 102.263 280.635 113.232C292.452 110.634 304.826 108.5 317.615 106.916C363.049 101.282 405.142 103.629 436.469 111.974C468.368 120.473 489.282 135.293 491.646 154.424C492.33 160.667 491.195 166.976 488.378 172.588C492.477 177.343 495.114 183.183 495.973 189.405C498.338 208.537 481.665 228.016 452.802 244.046C448.021 246.7 442.915 249.256 437.483 251.716C438.563 249.765 439.586 247.822 440.553 245.884C444.15 244.152 447.59 242.376 450.873 240.554C478.277 225.338 494.154 207.249 492.006 189.897C491.34 184.976 489.383 180.319 486.335 176.401C479.999 187.015 468.453 197.275 452.925 206.506C453.122 204.855 453.272 203.21 453.376 201.571C467.711 192.707 478.187 183.025 483.627 173.176C474.78 163.701 459.503 156.069 439.779 150.815C408.925 142.595 367.37 140.296 322.433 145.866C309.306 147.494 296.626 149.701 284.552 152.398C284.547 154.142 283.981 155.838 282.94 157.237C281.899 158.635 280.436 159.661 278.768 160.164C279.111 172.443 280.061 185.185 281.672 198.21C287.236 243.208 299.597 282.996 315.081 310.951C324.981 328.824 336.1 341.795 347.435 348.078C355.726 340.319 362.603 327.618 367.707 311.313C369.273 310.796 370.825 310.25 372.364 309.674C367.205 327.223 360.031 341.102 351.216 349.918C355.755 351.922 360.743 352.687 365.673 352.136C383.003 349.986 396.652 330.159 404.709 299.84C405.599 296.493 406.42 293.011 407.167 289.42C408.821 288.059 410.451 286.647 412.057 285.184C411.048 290.659 409.879 295.895 408.561 300.858C400.072 332.797 385.272 353.737 366.164 356.104C359.928 356.789 353.628 355.652 348.023 352.831C343.275 356.937 337.441 359.578 331.227 360.437C312.118 362.807 292.665 346.11 276.656 317.211C260.933 288.824 248.393 248.523 242.769 203.033C241.186 190.23 240.233 177.693 239.866 165.585C229.538 169.433 219.501 174.022 209.833 179.319C191.982 189.232 179.025 200.362 172.752 211.715C180.441 219.945 192.978 226.784 209.066 231.882C209.606 233.453 210.193 235.023 210.825 236.592C193.434 231.429 179.675 224.276 170.915 215.5C168.914 220.044 168.149 225.039 168.699 229.975C170.843 247.328 190.649 260.994 220.927 269.057C224.586 270.033 228.388 270.924 232.334 271.728C233.664 273.347 235.043 274.965 236.47 276.582C230.675 275.536 225.141 274.309 219.91 272.917C188.014 264.419 167.101 249.596 164.736 230.468C164.053 224.224 165.187 217.916 168.001 212.303C163.904 207.547 161.267 201.707 160.41 195.485C158.045 176.355 174.714 156.874 203.581 140.843C215.567 134.309 228.083 128.801 240.995 124.377C242.131 110.759 244.415 97.2613 247.823 84.0287C256.307 52.0909 271.111 31.1512 290.215 28.7835C296.451 28.0989 302.752 29.2355 308.357 32.0562C313.107 27.9521 318.941 25.3111 325.156 24.4516C344.261 22.0839 363.715 38.7771 379.727 67.6772C381.584 71.027 383.392 74.5394 385.152 78.2143C383.445 77.7082 381.727 77.2201 379.997 76.7502Z" fill="url(#paint4_linear_15_64)"/>
<mask id="mask2_15_64" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="160" y="24" width="337" height="337">
<path d="M274.681 144.426C274.816 135.41 275.296 126.696 276.089 118.364C265.062 120.959 254.572 123.962 244.743 127.302C243.905 137.659 243.552 148.58 243.731 159.922C251.507 157.153 259.719 154.593 268.301 152.282C268.323 150.444 268.965 148.667 270.123 147.24C271.281 145.814 272.888 144.822 274.681 144.426ZM246.731 202.542C252.296 247.54 264.656 287.328 280.14 315.283C295.339 342.718 313.407 358.615 330.736 356.469C335.651 355.798 340.301 353.838 344.214 350.786C332.624 343.849 321.455 330.684 311.593 312.878C295.87 284.495 283.33 244.193 277.705 198.703C276.083 185.577 275.125 172.732 274.783 160.342C273.608 160.097 272.502 159.596 271.543 158.874C270.584 158.152 269.796 157.228 269.235 156.166C260.331 158.565 251.835 161.233 243.82 164.125C244.151 176.519 245.105 189.386 246.731 202.542ZM282.76 79.6981C287.99 60.0245 295.615 44.527 305.163 34.97C300.624 32.9664 295.636 32.2014 290.706 32.7529C273.38 34.9021 259.731 54.7292 251.671 85.0462C248.464 97.4862 246.275 110.167 245.127 122.963C254.993 119.671 265.502 116.713 276.519 114.161C277.74 102.534 279.826 91.0144 282.76 79.6981ZM283.588 148.521C295.818 145.785 308.658 143.545 321.942 141.898C367.375 136.267 409.469 138.613 440.795 146.958C460.445 152.192 475.925 159.828 485.468 169.39C487.467 164.845 488.232 159.851 487.684 154.915C485.536 137.563 465.734 123.897 435.452 115.831C404.599 107.61 363.047 105.314 318.106 110.883C304.964 112.513 292.269 114.724 280.184 117.424C279.323 126.068 278.807 135.138 278.669 144.549C279.711 144.851 280.683 145.358 281.527 146.04C282.372 146.722 283.072 147.565 283.588 148.521ZM205.506 144.336C178.103 159.552 162.229 177.641 164.373 194.992C165.041 199.914 166.999 204.571 170.048 208.49C176.975 196.887 190.125 185.703 207.908 175.826C218.153 170.219 228.801 165.385 239.765 161.365C239.55 150.042 239.852 139.118 240.635 128.733C228.521 132.969 216.773 138.187 205.506 144.336ZM379.997 76.7502C378.769 74.293 377.516 71.9112 376.239 69.6048C361.04 42.1699 342.976 26.2743 325.647 28.4211C320.731 29.0909 316.08 31.0509 312.165 34.102C323.296 40.7635 334.036 53.171 343.608 69.9112C341.981 69.7283 340.346 69.5602 338.703 69.4071C329.473 53.8686 319.301 42.5482 308.948 36.8114C299.483 45.671 291.86 60.9675 286.612 80.7162C283.839 91.3962 281.842 102.263 280.635 113.232C292.452 110.634 304.826 108.5 317.615 106.916C363.049 101.282 405.142 103.629 436.469 111.974C468.368 120.473 489.282 135.293 491.646 154.424C492.33 160.667 491.195 166.976 488.378 172.588C492.477 177.343 495.114 183.183 495.973 189.405C498.338 208.537 481.665 228.016 452.802 244.046C448.021 246.7 442.915 249.256 437.483 251.716C438.563 249.765 439.586 247.822 440.553 245.884C444.15 244.152 447.59 242.376 450.873 240.554C478.277 225.338 494.154 207.249 492.006 189.897C491.34 184.976 489.383 180.319 486.335 176.401C479.999 187.015 468.453 197.275 452.925 206.506C453.122 204.855 453.272 203.21 453.376 201.571C467.711 192.707 478.187 183.025 483.627 173.176C474.78 163.701 459.503 156.069 439.779 150.815C408.925 142.595 367.37 140.296 322.433 145.866C309.306 147.494 296.626 149.701 284.552 152.398C284.547 154.142 283.981 155.838 282.94 157.237C281.899 158.635 280.436 159.661 278.768 160.164C279.111 172.443 280.061 185.185 281.672 198.21C287.236 243.208 299.597 282.996 315.081 310.951C324.981 328.824 336.1 341.795 347.435 348.078C355.726 340.319 362.603 327.618 367.707 311.313C369.273 310.796 370.825 310.25 372.364 309.674C367.205 327.223 360.031 341.102 351.216 349.918C355.755 351.922 360.743 352.687 365.673 352.136C383.003 349.986 396.652 330.159 404.709 299.84C405.599 296.493 406.42 293.011 407.167 289.42C408.821 288.059 410.451 286.647 412.057 285.184C411.048 290.659 409.879 295.895 408.561 300.858C400.072 332.797 385.272 353.737 366.164 356.104C359.928 356.789 353.628 355.652 348.023 352.831C343.275 356.937 337.441 359.578 331.227 360.437C312.118 362.807 292.665 346.11 276.656 317.211C260.933 288.824 248.393 248.523 242.769 203.033C241.186 190.23 240.233 177.693 239.866 165.585C229.538 169.433 219.501 174.022 209.833 179.319C191.982 189.232 179.025 200.362 172.752 211.715C180.441 219.945 192.978 226.784 209.066 231.882C209.606 233.453 210.193 235.023 210.825 236.592C193.434 231.429 179.675 224.276 170.915 215.5C168.914 220.044 168.149 225.039 168.699 229.975C170.843 247.328 190.649 260.994 220.927 269.057C224.586 270.033 228.388 270.924 232.334 271.728C233.664 273.347 235.043 274.965 236.47 276.582C230.675 275.536 225.141 274.309 219.91 272.917C188.014 264.419 167.101 249.596 164.736 230.468C164.053 224.224 165.187 217.916 168.001 212.303C163.904 207.547 161.267 201.707 160.41 195.485C158.045 176.355 174.714 156.874 203.581 140.843C215.567 134.309 228.083 128.801 240.995 124.377C242.131 110.759 244.415 97.2613 247.823 84.0287C256.307 52.0909 271.111 31.1512 290.215 28.7835C296.451 28.0989 302.752 29.2355 308.357 32.0562C313.107 27.9521 318.941 25.3111 325.156 24.4516C344.261 22.0839 363.715 38.7771 379.727 67.6772C381.584 71.027 383.392 74.5394 385.152 78.2143C383.445 77.7082 381.727 77.2201 379.997 76.7502Z" fill="white"/>
</mask>
<g mask="url(#mask2_15_64)">
<path d="M182.686 -0.48645L135.503 338.136L473.697 385.378L520.88 46.7559L182.686 -0.48645Z" fill="url(#paint5_linear_15_64)"/>
</g>
</g>
<path d="M21.9954 274.953H30.9677V295.182H52.9806V274.953H61.9518V326.055H52.9806V303.863H30.9677V326.055H21.9954V274.953Z" fill="black"/>
<path d="M88.8764 274.953H97.6961L119.032 326.055H109.684L104.331 312.769H82.2419L76.8888 326.055H67.4652L88.8764 274.953ZM101.542 305.297L93.2489 284.539L84.9563 305.297H101.542Z" fill="black"/>
<path d="M122.734 274.953H131.027V317.827H157.565V326.055H122.734V274.953Z" fill="black"/>
<path d="M165.036 274.953H174.46V326.055H165.036V274.953Z" fill="black"/>
<path d="M202.131 274.953H210.951L232.286 326.055H222.937L217.585 312.769H195.497L190.145 326.055H180.721L202.131 274.953ZM214.796 305.297L206.504 284.539L198.211 305.297H214.796Z" fill="black"/>
<path d="M266.107 289.577V326.175H257.8V274.984H264.52L293.747 307.045V274.984H302.055V326.931H300.846L266.107 289.577Z" fill="url(#paint6_linear_15_64)"/>
<path d="M316.49 303.945H312.789V296.384H316.49V274.984H353.872V282.47H325.854V296.384H350.171V303.945H325.854V318.69H353.872V326.175H316.49V303.945Z" fill="url(#paint7_linear_15_64)"/>
<path d="M374.12 282.545H359.77V274.984H397.077V282.545H382.729V326.175H374.12V282.545Z" fill="url(#paint8_linear_15_64)"/>
<path d="M400.407 274.984H409.242L424.195 312.111L439.828 273.85L455.384 312.111L470.337 274.984H479.174L459.009 326.175H452.515L439.828 294.19L427.064 326.175H420.57L400.407 274.984Z" fill="url(#paint9_linear_15_64)"/>
<path d="M478.734 300.465C478.749 295.163 480.332 289.983 483.284 285.58C486.236 281.178 490.423 277.749 495.319 275.727C500.215 273.704 505.599 273.179 510.793 274.217C515.986 275.256 520.756 277.811 524.501 281.56C528.246 285.31 530.798 290.086 531.834 295.286C532.871 300.486 532.347 305.877 530.327 310.779C528.307 315.68 524.883 319.874 520.486 322.829C516.088 325.784 510.916 327.369 505.62 327.384C502.089 327.385 498.592 326.689 495.33 325.337C492.068 323.984 489.104 322.001 486.607 319.502C484.11 317.002 482.13 314.034 480.779 310.768C479.428 307.501 478.733 304 478.734 300.465ZM523.894 300.465C523.894 296.831 522.818 293.279 520.801 290.257C518.785 287.236 515.918 284.881 512.565 283.491C509.212 282.1 505.522 281.737 501.963 282.446C498.403 283.155 495.133 284.905 492.567 287.475C490.001 290.045 488.253 293.319 487.545 296.883C486.837 300.447 487.201 304.141 488.59 307.499C489.979 310.856 492.332 313.725 495.349 315.744C498.367 317.763 501.915 318.84 505.545 318.84C510.402 318.809 515.052 316.863 518.486 313.424C521.921 309.984 523.864 305.329 523.894 300.465Z" fill="url(#paint10_linear_15_64)"/>
<path d="M542.18 310.598H538.48V302.961H542.18V274.984H564.534C576.24 274.984 582.736 283.529 582.736 292.754C582.736 302.432 576.24 310.598 564.534 310.598H550.941V326.175H542.18V310.598ZM564.083 302.961C565.419 302.965 566.743 302.703 567.978 302.191C569.212 301.679 570.333 300.926 571.274 299.976C572.215 299.026 572.959 297.899 573.461 296.659C573.964 295.419 574.215 294.091 574.201 292.754C574.22 291.418 573.972 290.092 573.47 288.854C572.968 287.616 572.224 286.491 571.281 285.546C570.337 284.601 569.214 283.856 567.978 283.353C566.742 282.851 565.417 282.602 564.083 282.621H550.941V302.961H564.083Z" fill="url(#paint11_linear_15_64)"/>
<path d="M590.372 274.984H598.679V296.157L619.07 274.984H629.868L607.666 298.5L635.005 326.175H624.053L601.321 304.397L598.679 307.498V326.175H590.372V274.984Z" fill="url(#paint12_linear_15_64)"/>
<path d="M583.756 326.175L566.338 304.473L558.979 310.394L571.647 326.175H583.756Z" fill="url(#paint13_linear_15_64)"/>
<path d="M106.059 369.27C106.059 367.34 106.631 365.453 107.701 363.847C108.772 362.242 110.293 360.99 112.074 360.25C113.854 359.51 115.814 359.315 117.705 359.69C119.596 360.065 121.334 360.992 122.699 362.355C124.065 363.718 124.996 365.455 125.375 367.348C125.755 369.24 125.565 371.203 124.831 372.988C124.097 374.773 122.852 376.3 121.251 377.376C119.651 378.452 117.768 379.03 115.84 379.035C114.557 379.039 113.286 378.788 112.1 378.299C110.914 377.81 109.835 377.091 108.927 376.184C108.018 375.277 107.297 374.199 106.805 373.013C106.313 371.826 106.06 370.555 106.059 369.27ZM123.1 369.27C123.1 367.827 122.673 366.416 121.872 365.216C121.071 364.016 119.933 363.081 118.602 362.529C117.27 361.976 115.805 361.832 114.391 362.113C112.978 362.395 111.679 363.09 110.66 364.11C109.641 365.13 108.947 366.431 108.665 367.846C108.384 369.261 108.529 370.728 109.08 372.062C109.632 373.395 110.566 374.534 111.764 375.336C112.962 376.138 114.371 376.566 115.813 376.566C117.742 376.554 119.588 375.782 120.952 374.416C122.316 373.05 123.088 371.201 123.1 369.27Z" fill="url(#paint14_linear_15_64)"/>
<path d="M135.046 378.647H133.716V376.427H135.046V364.054H142.915C143.903 364.014 144.889 364.175 145.814 364.526C146.738 364.878 147.582 365.414 148.294 366.101C149.006 366.788 149.571 367.612 149.956 368.524C150.342 369.436 150.539 370.416 150.535 371.406C150.547 372.394 150.355 373.373 149.971 374.282C149.587 375.192 149.02 376.012 148.304 376.692C147.589 377.372 146.741 377.897 145.814 378.233C144.886 378.569 143.9 378.71 142.915 378.647H137.402V384.334H135.046V378.647ZM142.832 376.427C143.528 376.475 144.225 376.379 144.882 376.146C145.538 375.913 146.14 375.546 146.65 375.07C147.159 374.594 147.565 374.018 147.843 373.378C148.12 372.738 148.264 372.048 148.264 371.35C148.264 370.653 148.12 369.963 147.843 369.323C147.565 368.683 147.159 368.107 146.65 367.631C146.14 367.155 145.538 366.788 144.882 366.555C144.225 366.321 143.528 366.226 142.832 366.273H137.402V376.427H142.832Z" fill="url(#paint15_linear_15_64)"/>
<path d="M158.713 372.294H157.411V370.102H158.713C158.755 368.294 159.511 366.576 160.814 365.324C162.117 364.071 163.862 363.385 165.668 363.416C170.406 363.416 173.758 366.912 172.622 372.294H161.29C161.43 373.521 162.021 374.653 162.947 375.468C163.874 376.283 165.071 376.724 166.305 376.705C167.496 376.705 169.935 376.067 170.572 375.013L172.512 376.511C171.66 377.355 170.639 378.009 169.517 378.43C168.395 378.851 167.196 379.029 166 378.952C164.165 378.985 162.388 378.314 161.033 377.076C159.677 375.837 158.847 374.126 158.713 372.294ZM170.212 370.102C170.279 369.499 170.209 368.889 170.009 368.317C169.809 367.744 169.482 367.224 169.054 366.795C168.625 366.366 168.106 366.039 167.534 365.839C166.962 365.638 166.353 365.569 165.751 365.636C165.162 365.631 164.579 365.743 164.034 365.966C163.489 366.188 162.994 366.517 162.576 366.932C162.159 367.347 161.828 367.841 161.602 368.385C161.377 368.93 161.261 369.513 161.262 370.102H170.212ZM166.111 359.033H168.66L166.222 362.14H164.892L166.111 359.033Z" fill="url(#paint16_linear_15_64)"/>
<path d="M181.548 364.054H183.847V365.857C184.623 364.47 186.674 363.888 188.724 364.054V366.412C186.258 366.08 183.93 367.411 183.93 369.686V378.619H181.548V364.054Z" fill="url(#paint17_linear_15_64)"/>
<path d="M195.543 371.212C195.533 370.213 195.721 369.222 196.096 368.296C196.471 367.37 197.026 366.528 197.728 365.818C198.43 365.109 199.266 364.545 200.187 364.161C201.108 363.776 202.095 363.578 203.093 363.578C204.091 363.578 205.079 363.776 206 364.161C206.92 364.545 207.756 365.109 208.458 365.818C209.16 366.528 209.715 367.37 210.09 368.296C210.465 369.222 210.653 370.213 210.644 371.212V378.203H208.538V375.65C207.969 376.582 207.171 377.352 206.22 377.886C205.269 378.421 204.197 378.702 203.107 378.702C201.113 378.709 199.198 377.925 197.78 376.521C196.362 375.117 195.558 373.208 195.543 371.212ZM208.399 371.212C208.407 370.507 208.274 369.809 208.01 369.156C207.746 368.504 207.355 367.91 206.861 367.409C206.366 366.909 205.777 366.511 205.128 366.24C204.479 365.969 203.783 365.829 203.079 365.829C202.376 365.829 201.68 365.969 201.031 366.24C200.382 366.511 199.793 366.909 199.298 367.409C198.803 367.91 198.413 368.504 198.148 369.156C197.884 369.809 197.752 370.507 197.759 371.212C197.781 372.61 198.351 373.943 199.347 374.924C200.342 375.905 201.683 376.455 203.079 376.455C204.476 376.455 205.817 375.905 206.812 374.924C207.807 373.943 208.377 372.61 208.399 371.212Z" fill="url(#paint18_linear_15_64)"/>
<path d="M219.902 373.709V366.301H218.572V364.054H219.902V361.03H222.312V364.054H225.831V366.301H222.312V372.959C222.312 376.427 224.861 376.455 226.856 376.317V378.73C223.864 379.118 219.902 378.314 219.902 373.709Z" fill="url(#paint19_linear_15_64)"/>
<path d="M234.672 372.294H233.37V370.102H234.672C234.715 368.294 235.47 366.576 236.773 365.324C238.076 364.071 239.821 363.385 241.627 363.416C246.365 363.416 249.718 366.912 248.582 372.294H237.249C237.389 373.521 237.98 374.653 238.907 375.468C239.834 376.283 241.031 376.724 242.265 376.705C243.456 376.705 245.894 376.067 246.532 375.013L248.471 376.511C247.62 377.355 246.599 378.009 245.477 378.43C244.354 378.851 243.156 379.029 241.96 378.952C240.125 378.985 238.348 378.314 236.992 377.076C235.637 375.837 234.807 374.126 234.672 372.294ZM246.171 370.102C246.238 369.499 246.169 368.889 245.969 368.317C245.768 367.744 245.442 367.224 245.013 366.795C244.585 366.366 244.066 366.039 243.494 365.839C242.922 365.638 242.313 365.569 241.71 365.636C241.122 365.631 240.539 365.743 239.994 365.966C239.449 366.188 238.954 366.517 238.536 366.932C238.119 367.347 237.788 367.841 237.562 368.386C237.337 368.93 237.221 369.513 237.222 370.102H246.171Z" fill="url(#paint20_linear_15_64)"/>
<path d="M257.203 372.127V364.054H259.447V371.434C259.447 374.486 260.999 376.344 263.908 376.344C266.817 376.344 268.369 374.486 268.369 371.434V364.054H270.613V378.619H268.674V376.067C268.21 376.907 267.513 377.595 266.668 378.048C265.822 378.501 264.864 378.699 263.908 378.619C259.807 378.619 257.203 376.067 257.203 372.127Z" fill="url(#paint21_linear_15_64)"/>
<path d="M279.76 364.054H282.06V365.857C282.836 364.47 284.887 363.888 286.937 364.054V366.412C284.471 366.08 282.143 367.411 282.143 369.686V378.619H279.76V364.054Z" fill="url(#paint22_linear_15_64)"/>
<path d="M307.196 371.295C307.163 370.338 307.327 369.384 307.678 368.493C308.028 367.602 308.557 366.792 309.232 366.113C309.907 365.435 310.714 364.902 311.603 364.548C312.492 364.194 313.444 364.026 314.4 364.054H319.553V359.199H321.909V364.054H323.239V366.274H321.909V378.647H314.4C313.44 378.654 312.488 378.468 311.602 378.1C310.715 377.731 309.912 377.188 309.24 376.502C308.567 375.816 308.04 375.001 307.689 374.107C307.338 373.212 307.17 372.256 307.196 371.295ZM319.553 376.455V366.274H314.51C313.174 366.292 311.899 366.836 310.96 367.789C310.021 368.742 309.495 370.026 309.495 371.364C309.495 372.703 310.021 373.987 310.96 374.94C311.899 375.892 313.174 376.437 314.51 376.455H319.553Z" fill="url(#paint23_linear_15_64)"/>
<path d="M331.527 372.294H330.225V370.102H331.527C331.569 368.294 332.325 366.576 333.628 365.324C334.931 364.071 336.676 363.385 338.482 363.416C343.22 363.416 346.572 366.912 345.436 372.294H334.104C334.244 373.521 334.834 374.653 335.761 375.468C336.688 376.283 337.885 376.724 339.119 376.705C340.31 376.705 342.749 376.067 343.386 375.013L345.326 376.511C344.474 377.355 343.453 378.009 342.331 378.43C341.209 378.851 340.01 379.029 338.814 378.952C336.979 378.985 335.202 378.314 333.847 377.076C332.491 375.837 331.661 374.126 331.527 372.294ZM343.026 370.102C343.093 369.499 343.023 368.889 342.823 368.317C342.623 367.744 342.296 367.224 341.868 366.795C341.439 366.366 340.92 366.039 340.348 365.839C339.776 365.638 339.167 365.569 338.565 365.636C337.976 365.631 337.393 365.743 336.848 365.966C336.303 366.188 335.808 366.517 335.39 366.932C334.973 367.347 334.642 367.841 334.416 368.386C334.191 368.93 334.075 369.513 334.076 370.102H343.026Z" fill="url(#paint24_linear_15_64)"/>
<path d="M366.666 371.295C366.635 370.272 366.809 369.253 367.177 368.298C367.546 367.343 368.101 366.471 368.811 365.734C369.521 364.997 370.371 364.41 371.311 364.007C372.252 363.605 373.263 363.394 374.285 363.389C375.771 363.356 377.232 363.769 378.482 364.575C379.731 365.381 380.711 366.543 381.296 367.911L379.273 369.048C378.878 368.079 378.208 367.248 377.346 366.656C376.485 366.065 375.469 365.739 374.424 365.719C373.7 365.719 372.984 365.864 372.317 366.147C371.651 366.429 371.048 366.842 370.544 367.362C370.04 367.883 369.646 368.499 369.384 369.174C369.122 369.85 368.999 370.571 369.021 371.295C369.003 372.751 369.561 374.155 370.573 375.2C371.586 376.245 372.97 376.846 374.424 376.871C375.467 376.878 376.488 376.569 377.353 375.985C378.219 375.401 378.887 374.569 379.273 373.598L381.296 374.707C380.725 376.085 379.748 377.256 378.496 378.064C377.243 378.872 375.774 379.279 374.285 379.229C372.232 379.165 370.285 378.299 368.861 376.817C367.437 375.334 366.649 373.352 366.666 371.295Z" fill="url(#paint25_linear_15_64)"/>
<path d="M388.891 371.351C388.879 370.354 389.064 369.364 389.436 368.439C389.807 367.513 390.358 366.671 391.055 365.959C391.753 365.247 392.585 364.681 393.502 364.292C394.419 363.903 395.404 363.7 396.4 363.693C397.402 363.673 398.398 363.858 399.326 364.238C400.254 364.618 401.094 365.184 401.795 365.901C402.496 366.619 403.043 367.473 403.402 368.41C403.76 369.347 403.923 370.348 403.881 371.351C403.894 372.344 403.709 373.331 403.338 374.252C402.967 375.174 402.417 376.013 401.72 376.72C401.023 377.427 400.192 377.989 399.277 378.372C398.361 378.755 397.378 378.952 396.386 378.952C395.393 378.952 394.411 378.755 393.495 378.372C392.58 377.989 391.749 377.427 391.052 376.72C390.354 376.013 389.804 375.174 389.433 374.252C389.063 373.331 388.878 372.344 388.891 371.351ZM401.609 371.351C401.639 370.65 401.526 369.95 401.277 369.295C401.028 368.639 400.648 368.041 400.161 367.538C399.673 367.034 399.088 366.635 398.442 366.365C397.795 366.095 397.1 365.961 396.4 365.969C394.994 365.998 393.655 366.578 392.671 367.584C391.686 368.59 391.135 369.942 391.135 371.351C391.125 372.049 391.253 372.741 391.513 373.389C391.773 374.036 392.16 374.625 392.65 375.121C393.14 375.617 393.724 376.01 394.368 376.278C395.012 376.545 395.703 376.681 396.4 376.677C397.095 376.682 397.783 376.546 398.424 376.279C399.066 376.011 399.647 375.617 400.133 375.12C400.619 374.623 401 374.033 401.254 373.386C401.507 372.738 401.628 372.046 401.609 371.351Z" fill="url(#paint26_linear_15_64)"/>
<path d="M412.751 364.054H414.69V366.662C415.148 365.787 415.857 365.071 416.727 364.606C417.597 364.14 418.587 363.948 419.567 364.054C423.917 364.054 426.245 366.301 426.245 370.352V378.619H424V371.018C424 367.938 422.448 366.329 419.484 366.329C416.602 366.329 414.995 368.16 414.995 371.212V378.619H412.751L412.751 364.054Z" fill="url(#paint27_linear_15_64)"/>
<path d="M436.611 366.273H434.866V364.054H436.611C436.611 360.808 438.44 357.534 444.563 359.56L444.092 361.474C440.407 360.281 438.883 361.89 438.883 364.054H444.12V366.273H438.938V378.619H436.611V366.273Z" fill="url(#paint28_linear_15_64)"/>
<path d="M455.363 360.753C455.366 360.376 455.518 360.017 455.785 359.752C456.053 359.487 456.414 359.338 456.79 359.338C457.166 359.338 457.527 359.487 457.794 359.752C458.061 360.017 458.213 360.376 458.217 360.753C458.218 360.942 458.183 361.129 458.112 361.304C458.041 361.479 457.936 361.638 457.804 361.772C457.671 361.906 457.513 362.013 457.339 362.086C457.165 362.158 456.978 362.196 456.79 362.196C456.601 362.196 456.414 362.158 456.24 362.086C456.066 362.013 455.908 361.906 455.776 361.772C455.643 361.638 455.538 361.479 455.467 361.304C455.396 361.129 455.361 360.942 455.363 360.753ZM455.64 364.054H457.912V378.619H455.64L455.64 364.054Z" fill="url(#paint29_linear_15_64)"/>
<path d="M467.279 371.212C467.269 370.213 467.457 369.222 467.832 368.296C468.208 367.37 468.762 366.528 469.464 365.818C470.166 365.109 471.002 364.545 471.923 364.161C472.844 363.776 473.832 363.578 474.829 363.578C475.827 363.578 476.815 363.776 477.736 364.161C478.657 364.545 479.492 365.109 480.194 365.818C480.896 366.528 481.451 367.37 481.826 368.296C482.201 369.222 482.389 370.213 482.38 371.212V378.203H480.274V375.65C479.705 376.582 478.907 377.352 477.956 377.886C477.005 378.421 475.934 378.702 474.843 378.702C472.849 378.709 470.934 377.925 469.516 376.521C468.098 375.117 467.294 373.208 467.279 371.212ZM480.135 371.212C480.143 370.507 480.01 369.809 479.746 369.156C479.482 368.504 479.092 367.91 478.597 367.409C478.102 366.909 477.513 366.511 476.864 366.24C476.215 365.969 475.519 365.829 474.815 365.829C474.112 365.829 473.416 365.969 472.767 366.24C472.118 366.511 471.529 366.909 471.034 367.409C470.539 367.91 470.149 368.504 469.885 369.156C469.62 369.809 469.488 370.507 469.496 371.212C469.517 372.61 470.088 373.943 471.083 374.924C472.078 375.905 473.419 376.455 474.815 376.455C476.212 376.455 477.553 375.905 478.548 374.924C479.543 373.943 480.113 372.61 480.135 371.212Z" fill="url(#paint30_linear_15_64)"/>
<path d="M491.804 364.054H493.744V366.662C494.201 365.787 494.911 365.071 495.781 364.606C496.65 364.14 497.64 363.948 498.62 364.054C502.97 364.054 505.298 366.301 505.298 370.352V378.619H503.054V371.018C503.054 367.938 501.502 366.329 498.537 366.329C495.655 366.329 494.048 368.16 494.048 371.212V378.619H491.804V364.054Z" fill="url(#paint31_linear_15_64)"/>
<path d="M513.642 371.295C513.611 370.272 513.784 369.253 514.153 368.298C514.521 367.343 515.077 366.471 515.787 365.734C516.497 364.997 517.347 364.41 518.287 364.007C519.227 363.605 520.238 363.394 521.261 363.389C522.747 363.356 524.208 363.769 525.457 364.575C526.707 365.381 527.687 366.543 528.271 367.911L526.249 369.048C525.854 368.079 525.184 367.248 524.322 366.656C523.46 366.065 522.444 365.739 521.4 365.719C520.676 365.719 519.96 365.864 519.293 366.147C518.627 366.429 518.024 366.842 517.52 367.362C517.016 367.883 516.621 368.499 516.36 369.174C516.098 369.85 515.975 370.571 515.997 371.295C515.979 372.751 516.537 374.155 517.549 375.2C518.562 376.245 519.946 376.846 521.4 376.871C522.443 376.878 523.464 376.569 524.329 375.985C525.194 375.401 525.863 374.569 526.249 373.598L528.271 374.707C527.701 376.085 526.724 377.256 525.471 378.064C524.219 378.872 522.75 379.279 521.261 379.229C519.208 379.165 517.261 378.299 515.837 376.817C514.413 375.334 513.625 373.352 513.642 371.295Z" fill="url(#paint32_linear_15_64)"/>
<path d="M536.809 372.294H535.507V370.102H536.809C536.851 368.294 537.607 366.576 538.91 365.324C540.213 364.071 541.958 363.385 543.764 363.416C548.502 363.416 551.854 366.912 550.718 372.294H539.386C539.526 373.521 540.116 374.653 541.043 375.468C541.97 376.283 543.167 376.724 544.401 376.705C545.592 376.705 548.031 376.067 548.668 375.013L550.608 376.511C549.756 377.355 548.735 378.009 547.613 378.43C546.491 378.851 545.292 379.029 544.096 378.952C542.261 378.985 540.484 378.314 539.129 377.076C537.773 375.837 536.943 374.126 536.809 372.294ZM548.308 370.102C548.375 369.499 548.305 368.889 548.105 368.317C547.904 367.744 547.578 367.224 547.15 366.795C546.721 366.366 546.202 366.039 545.63 365.839C545.058 365.638 544.449 365.569 543.847 365.636C543.258 365.631 542.675 365.743 542.13 365.966C541.585 366.188 541.09 366.517 540.672 366.932C540.255 367.347 539.924 367.841 539.698 368.386C539.473 368.93 539.357 369.513 539.358 370.102H548.308Z" fill="url(#paint33_linear_15_64)"/>
<defs>
<linearGradient id="paint0_linear_15_64" x1="442.341" y1="66.6207" x2="170.906" y2="147.858" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
<linearGradient id="paint1_linear_15_64" x1="452.405" y1="100.25" x2="180.971" y2="181.487" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
<linearGradient id="paint2_linear_15_64" x1="467.489" y1="150.649" x2="196.055" y2="231.886" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
<linearGradient id="paint3_linear_15_64" x1="467.491" y1="150.648" x2="196.055" y2="231.884" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
<linearGradient id="paint4_linear_15_64" x1="467.489" y1="150.649" x2="196.054" y2="231.886" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
<linearGradient id="paint5_linear_15_64" x1="467.49" y1="150.651" x2="196.055" y2="231.888" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="0.9195" stop-color="#075EDD"/>
<stop offset="1" stop-color="#075EDD"/>
</linearGradient>
<linearGradient id="paint6_linear_15_64" x1="277.154" y1="300.268" x2="623.695" y2="339.121" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="1" stop-color="#97252E"/>
</linearGradient>
<linearGradient id="paint7_linear_15_64" x1="277.841" y1="294.135" x2="624.383" y2="332.988" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="1" stop-color="#97252E"/>
</linearGradient>
<linearGradient id="paint8_linear_15_64" x1="278.469" y1="288.538" x2="625.01" y2="327.392" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="1" stop-color="#97252E"/>
</linearGradient>
<linearGradient id="paint9_linear_15_64" x1="279.269" y1="281.404" x2="625.81" y2="320.257" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="1" stop-color="#97252E"/>
</linearGradient>
<linearGradient id="paint10_linear_15_64" x1="279.971" y1="275.142" x2="626.512" y2="313.996" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="1" stop-color="#97252E"/>
</linearGradient>
<linearGradient id="paint11_linear_15_64" x1="280.565" y1="269.845" x2="627.106" y2="308.699" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="1" stop-color="#97252E"/>
</linearGradient>
<linearGradient id="paint12_linear_15_64" x1="281.263" y1="263.616" x2="627.804" y2="302.47" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="1" stop-color="#97252E"/>
</linearGradient>
<linearGradient id="paint13_linear_15_64" x1="279.119" y1="282.742" x2="625.66" y2="321.596" gradientUnits="userSpaceOnUse">
<stop stop-color="#F9001E"/>
<stop offset="1" stop-color="#97252E"/>
</linearGradient>
<linearGradient id="paint14_linear_15_64" x1="93.2609" y1="370.809" x2="522.72" y2="341.606" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint15_linear_15_64" x1="93.6883" y1="377.094" x2="523.148" y2="347.891" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint16_linear_15_64" x1="93.4748" y1="373.956" x2="522.934" y2="344.753" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint17_linear_15_64" x1="93.7096" y1="377.406" x2="523.168" y2="348.203" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint18_linear_15_64" x1="93.7903" y1="378.593" x2="523.25" y2="349.39" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint19_linear_15_64" x1="93.7991" y1="378.723" x2="523.258" y2="349.52" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint20_linear_15_64" x1="93.972" y1="381.268" x2="523.432" y2="352.065" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint21_linear_15_64" x1="94.0841" y1="382.914" x2="523.543" y2="353.711" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint22_linear_15_64" x1="94.163" y1="384.07" x2="523.622" y2="354.867" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint23_linear_15_64" x1="94.1831" y1="384.367" x2="523.642" y2="355.164" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint24_linear_15_64" x1="94.4191" y1="387.84" x2="523.878" y2="358.637" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint25_linear_15_64" x1="94.5916" y1="390.377" x2="524.051" y2="361.174" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint26_linear_15_64" x1="94.6948" y1="391.891" x2="524.154" y2="362.688" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint27_linear_15_64" x1="94.8015" y1="393.471" x2="524.262" y2="364.268" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint28_linear_15_64" x1="94.7231" y1="392.312" x2="524.183" y2="363.109" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint29_linear_15_64" x1="94.8188" y1="393.691" x2="524.276" y2="364.488" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint30_linear_15_64" x1="95.0431" y1="397.032" x2="524.504" y2="367.829" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint31_linear_15_64" x1="95.1674" y1="398.836" x2="524.626" y2="369.633" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint32_linear_15_64" x1="95.2698" y1="400.35" x2="524.729" y2="371.147" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
<linearGradient id="paint33_linear_15_64" x1="95.366" y1="401.77" x2="524.826" y2="372.567" gradientUnits="userSpaceOnUse">
<stop stop-color="#075EDD"/>
<stop offset="1" stop-color="#0E4C96"/>
</linearGradient>
</defs>
</svg>


                </a>
            </li>
            <li>
                <a href="/">
                    <svg>
                        <use xlink:href="#icon-house"></use>
                    </svg>
                    <span>Accueil</span>
                </a>
            </li>
        </ul>

        <div class="profile-dropdown">
            <ul>
                <li>
                    <a href="{{ profilPath }}">
                        <svg>
                            <use xlink:href="#icon-user"></use>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="/deconnexion">
                        <svg>
                            <use xlink:href="#signout"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>